@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.search-names {
  font-family: 'Bungee Spice';
  background-color: rgb(106, 82, 87);
  justify-content: center;
  text-align: center;
  font-size: xx-large;
}

